.calc-input{
    margin-bottom: 10px;
}

span{
    color: brown;
}

#btn-color-soma{
    background-color: green; 
    border-color: green;
    color: aliceblue;
}

#btn-color-subi{
    background-color: red;
    border-color: red;
    color: aliceblue; 
}

#btn-color-mult{
    background-color: darkblue;
    border-color: darkblue;
    color: aliceblue; 
}

#btn-color-divi{
    background-color: darkmagenta;
    border-color: darkmagenta;
    color: aliceblue; 
}